<html>
<style>
    .toolbarbutton {
        width: 50px;
    }

    .header {
        padding: 1px;
        text-align: center;
        background: #1abc9c;
        color: white;
        font-size: 20px;
    }

    #left {
        width: 750px;
        float: left;
    }

    html,
    body {
        height: 100%;
        margin: 0;
    }

    body {
        background: skyblue;
    }

    p {
        font-size: 40px;
        font-family: georgia, cursive;
    }

    a {
        font-size: 16px;
        font-family: georgia, cursive;
    }
</style>

<script type="text/javascript">

    
    var canvas, drawdiv, ctx, flag = false,
        prevX = 0,
        currX = 0,
        prevY = 0,
        currY = 0,
        dot_flag = false;

    
    var x = "black",
        y = 2;

    
    function init() {
        canvas = document.getElementById('can');
        drawdiv = document.getElementById('sketch');
        ctx = canvas.getContext("2d");
        w = canvas.width;
        h = canvas.height;

        canvas.addEventListener("mousemove", function (e) {
            findxy('move', e)
        }, false);
        canvas.addEventListener("mousedown", function (e) {
            findxy('down', e)
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            findxy('up', e)
        }, false);
        canvas.addEventListener("mouseout", function (e) {
            findxy('out', e)
        }, false);
    }

    
    async function getClipboardContents() {
        try {
            const text = await navigator.clipboard.readText();
            document.getElementById("points").textContent = text;
            draw_all();
        } catch (err) {
            console.error('Failed');
        }
    }

   
    function draw() {
        ctx.beginPath();
        ctx.moveTo(prevX, prevY);
        ctx.lineTo(currX, currY);
        ctx.strokeStyle = x;
        ctx.lineWidth = y;
        ctx.stroke();
        ctx.closePath();
        document.getElementById("points").textContent += '[' + currX + ', ' + currY + '],';
    }

    
    function draw_all() {
        var mystring = document.getElementById("points").textContent;
        var allpoints = mystring.match(/(\+|-)?((\d+(\.\d+)?)|(\.\d+))/g).map(Number);
        if ((allpoints.length > 1) && ((allpoints.length % 2) == 0)) {
            var i;
            ctx.beginPath();
            ctx.moveTo(allpoints[0], allpoints[1]);
            for (i = 1; i < (allpoints.length / 2); i++) {
                ctx.lineTo(allpoints[2 * i], allpoints[2 * i + 1]);
                ctx.strokeStyle = x;
                ctx.lineWidth = y;
                ctx.stroke();
            }
            ctx.closePath();
            create_image()
        }
    }

   
    function erase() {
        ctx.clearRect(0, 0, w, h);
        document.getElementById("canvasimg").style.display = "none";
        document.getElementById("answer").textContent = '';
    }

   
    function copy() {
        document.getElementById("points").select();
        document.execCommand('copy');
    }

   
    function paste() {
        erase();
        getClipboardContents();
    }

    function create_image() {
        document.getElementById("canvasimg").style.border = "2px solid";
        var dataURL = canvas.toDataURL();
        document.getElementById("canvasimg").src = dataURL;
        document.getElementById("canvasimg").style.display = "inline";
    }

    
    function findxy(res, e) {
        if (res == 'down') {
            ctx.clearRect(0, 0, w, h);
            document.getElementById("points").textContent = '[';
            prevX = currX;
            prevY = currY;
            currX = e.clientX - canvas.offsetLeft;
            currY = e.clientY - (canvas.offsetTop + drawdiv.offsetTop - window.pageYOffset);

            flag = true;
            dot_flag = true;
            if (dot_flag) {
                ctx.beginPath();
                ctx.fillStyle = x;
                ctx.fillRect(currX, currY, 2, 2);
                ctx.closePath();
                dot_flag = false;
            }
        }
        if (res == 'up' || res == "out") {
            if (flag) {
                document.getElementById("points").textContent += ']';
                create_image();
            }
            flag = false;
        }
        if (res == 'move') {
            if (flag) {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - canvas.offsetLeft;
                currY = e.clientY - (canvas.offsetTop + drawdiv.offsetTop - window.pageYOffset);
                draw();
            }
        }
    }

    function inspect() {
        var val = document.getElementById("points").textContent;

        fetch('/compute', {

            // Declare what type of data we're sending
            headers: {
                'Content-Type': 'application/json'
            },

            // Specify the method
            method: 'POST',

            // A JSON payload
            body: JSON.stringify({ "gesture": val })
        })
            .then(function (response) {
                return response.text();
            })
            .then(function (text) {

                document.getElementById("answer").textContent = text;
            });
    }



</script>



<body onload="init()">
    <div class='header'>
        <p>AVOWAL</p>
        <form action="https://github.com/kaiznanji/avowal">
            <input style="width:100px;" type="submit" value="View Code" />
        </form>
    </div>
    <div id='intro' style="position:relative;">
        <h1></h1>
        <img src="static/graffitialphabet.png"
            style="position:absolute;top:250;left:50;border:1px solid;" />
    </div>
    <div id="sketch" style="position:relative">
        <div style="text-align:center;"><b>Draw With Mouse Here</b></div>
        <canvas id="can" width="400" height="400" style="position:absolute;top:50;left:700;border:2px solid;"></canvas>
        <button type="button" onclick=inspect() style="position:absolute;top:575;left:700;">Classify Drawing</button>
        <input type="button" class="toolbarbutton" value="Clear" id="clr" size="23" onclick="erase()"
            style="position:absolute;top:575;left:810;">
        <textarea readonly id="points" name="points" rows="30" cols="30" style="display:none;"></textarea>
        <div style="position:absolute;top:30;left:1200;">Sample Picture</div>
        <textarea readonly id="answer" rows="3" cols="25"
            style="position:absolute;top:470;left:700;border:1px solid;font-size: 18pt;"></textarea>
        <img id="canvasimg" style="position:absolute;top:50;left:1200;" width="100 style=" display:none;">
        <div style="position:absolute;top:75;left:50;width:600px;"><a>The following full-stack web application allows
                you to classify letters using
                the Palm Pilot Graffit Set. It uses javascript to compute the drawings into vectorized form and a python
                script to classify the vectors as letters. Click the
                button link under the title to take you to my Github page where you can see the code for the
                application!
                <p>
                    Below is the graffiti set used to classify your drawings. Use the drawing template on the right and
                    hit classify drawing to do the work!

            </a></div>
    </div>
</body>

</html>
